<footer class="w-full bg-white text-dark/60 px-3 md:px-14 py-6 space-y-6">
  <div class="p-4 border-dark/30 border-[1px] text-dark relative text-center">
    <span class="p-2 text-dark bg-white absolute -top-4 mx-auto font-black">RISK WARNING</span>
    The Financial Products offered by the company include Contracts for Difference ('CFDs') and other complex financial products. Trading CFDs carries a high level of risk since leverage can work both to your advantage and disadvantage. As a result, CFDs may not be suitable for all investors because it is possible to lose all of your invested capital. You should never invest money that you cannot afford to lose. Before trading in the complex financial products offered, please ensure to understand the risks involved.
  </div>
  <div class="w-full md:flex items-center text-sm md:justify-between md:space-y-0 space-y-4">
    <div class="flex space-x-3 object-center">
      <a href="{% url 'privacy' %}" class="block cursor-pointer">Privacy Policy</a>
      <a href="{% url 'legals' %}" class="block cursor-pointer">Terms & Conditions</a>
      <a href="tel://+12107559649" class="block cursor-pointer">+1 (210) 755-9649</a>
      <a href="tel://+375255239347" class="block cursor-pointer">+37 (525) 523-9347</a>
    </div>
    <span class="block">© 2022</span>
  </div>
</footer>
