<header id="cookie" class="md:flex md:justify-between md:items-center w-screen bg-dark-light px-3 md:px-14 py-[10px] md:space-x-2 md:space-y-0 space-y-2">
  <p class="md:w-3/4 w-full text-xs font-semibold">
    We use cookies to understand how you use our site and to improve your experience. By clicking “Got it” or by continuing to use our website you agree to their use.     <a href="" class="hidden md:flex text-variant-2 hover:text-variant-2 duration-500">More Info</a>
  </p>
  <div class="w-full md:w-min justify-between flex items-center font-semibold">
    <a href="" class="md:hidden text-variant-2 hover:text-variant-2 duration-500">More Info</a>

    <button @click="cookiesClose" class="w-24 rounded-2xl border-variant-2 text-variant-2 py-2 hover:scale-105 duration-500 px-4 border-2">
      Got It
    </button>
  </div>
</header>
