{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Confirm E-mail Address" %}{% endblock %}
{% block h_title %}
{% translate "Confirm E-mail Address" %}
{% endblock h_title %}


{% block inner %}
<h1 class="text-3xl font-black text-dark pb-4">{% translate "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p class="text-base text-dark/60">{% blocktranslate with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktranslate %}</p>

<form method="post" class=" pt-4 space-y-5" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-primary hover:scale-105 duration-300 btn-primary block w-full md:w-1/2 bg-variant-1 text-dark py-2 text-xl font-black" type="submit">{% translate 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p class="text-base text-dark/60">{% blocktranslate %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktranslate %}</p>

{% endif %}

{% endblock %}
