{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}
{% block h_title %}
{% translate "Password Reset" %}
{% endblock h_title %}

{% block inner %}

    <h1 class="text-3xl font-black text-dark pb-4">{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-base text-dark/60">{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset pt-4 space-y-5">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary hover:scale-105 duration-300 btn-primary block w-full md:w-1/2 bg-variant-1 text-dark py-2 text-xl font-black" type="submit" value="{% translate 'Reset My Password' %}" />
    </form>

    <p class="text-sm font-bold text-variant-2 pt-6">{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
{% endblock %}
