{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}
{% block h_title %}
{% translate "Change Password" %}
{% endblock h_title %}

{% block inner %}
    <h1 class="text-3xl font-black text-dark pb-4">{% translate "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change pt-4 space-y-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary hover:scale-105 duration-300 btn-primary block w-full md:w-1/2 bg-variant-1 text-dark py-2 text-xl font-black" type="submit" name="action">{% translate "Change Password" %}</button>
    </form>
{% endblock %}
